@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,900,700);
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;

    background: #383838;
    overflow-x: hidden;

    font-size: 16px;
    line-height: 20px;
}
#about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #cdcfce;
    justify-content: flex-start;
    flex: 1 1 0;
    padding: 1rem;
}

body.open {
    overflow-y: hidden;
}

.shop {
    position: relative;
    z-index: 5;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px 0 20px 20px;
}

.products__item {
    width: 290px;
}

.product {
    background: #FFF;
    padding: 30px 15px;
    margin: 0 20px 20px 0;
    border-radius: 5px;
    text-align: center;
}

.product__title {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 15px 0;
}

.product__text {
    margin: 0;
}

.button {
    display: inline-block;
    background: #39C;
    padding: 5px 10px;
    border-radius: 3px;

    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
}

.shop > div:nth-child(1) {
    background: #333333;
}
.shop > div:nth-child(2) {
    background: #383838;
}
.shop > div:nth-child(3) {
    background: #3d3d3d;
}


.navigation {
    height: 70px;
    background: #262626;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    margin: 0 auto;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    left: auto;
    right: 0;
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
        float: none;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    margin: 0 auto;
    padding: 10px;
}